.body{
    background-color: #464643;    
    height: 100vh;   
    position: fixed; 
    width: 22%;
}

.toolbar-navigation{
display: flex;
}

.toolbar-logo a{
 color:  white;

}

.toolbar{
width: 100%;
position: fixed;
background-color: #440577 ;
}
.closeButton{
    height: 5%;
    margin-left: 88%;
    
}