.body{
    background-color: #464643;    
    height: 100vh;   
    // text-align: center;
    // color: #ffffff;

}

.toolbar-navigation{
display: flex;
}

.toolbar-logo a{
 color:  white;

}

.toolbar{
width: 100%;
position: fixed;
background-color: #440577 ;
}
.items{

}