.card{      
          
    background-color: #74698f85;
    border: double;
    height: 25vh;
    width: 20vw;
    /* border-spacing: 0px; */
    margin-top: 29px;
    margin-right: 10px;
    float: left;
    text-align: center;
}