.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #8d9091;
}
/* 
.container {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-auto-rows: 30vh auto;
  grid-template-areas: 'left'
    'left';
  min-height: 100vh;
}

.navigation-bar {
  grid-area: left;
  width: 20vw;
}

.static-header-content {
  background-color: #282c34;
}

.main-content {
  background-color: #cdd0d1;
} */

.container {  
  min-height: 100vh;
}

.navigation-bar {
  
  float: left;
  width: 20%;  
  
}

.static-header-content {
  background-color: #666;   
  text-align: center;
  font-size: 15px;
  width: 100vw;
  color: white;
}

.main-content { 
  width: 100vw;   
 
}